{{#if restaurants}}


<div class="restaurants"
  {{!-- {{#each restaurants}} --}}
  {{#each restaurants as |restaurant|}}
    <h3>{{this.name}}</h3>
    <h4>LOCATION:</h4>
    <p> {{this.address.street}} {{this.address.zipcode}}</p>
    <h4>WEBSITE:</h4>
    <p>{{this.url}}</p>

    <div class="restaurants-input">
      <form name="update" action="/restaurants/{{this._id}}?_method=put" method="post">
          <input type="text"  name="restaurant[name]" value="{{this.name}}"><br>
          <input type="text"  name="restaurant[address][street]" value="{{this.address.street}}"><br>
          <input type="text"  name="restaurant[url]" value="{{this.url}}"><br>
          <input type="submit" class="button" value="Edit">
      </form>
      <form name="delete" action="/restaurants/{{this._id}}?_method=delete" method="post">
          <input type="submit" class="button" value="Delete">
      </form>
    </div>
  {{/each}}
</div>
 
{{else}}
<h2>Nada Here!<br> Add Something!</h2>
{{/if}}

<div class="restaurants-input">
      {{!-- <form name='add' action="/restaurants/{{mood}}" method="post"> --}}
      <form name='add' action="/restaurants/{{mood}}" method="post"></form>
        <input type="text" name="restaurant[name]" placeholder="Restaurant Name"><br>
        <input type="text" name="restaurant[location]" placeholder="Location"><br>
        <input type="text" name="restaurant[address.street]" value="" style="display:none">
        <input type="text" name="restaurant[address.zipcode]" value="" style="display:none">
        <input type="text" name="restaurant[url]" placeholder="Website"><br>
        <input type="submit" class="button" name="" value="Add Restaurant">
  
    <div class="invisible">
        <input type="text" name="restaurant[mood]" value="{{restaurant.mood}}" style="display:none">
    </div>
  </form>
</div> 

