{{#if restaurant}}


<div class="restaurants">
  <h3>{{restaurant.name}}</h3>
  <h4>Location:</h4>
  <p> {{restaurant.address.street}} {{restaurant.address.zipcode}}</p>
  <h4>Website:</h4>
  <p>{{restaurant.yelpUrl}}</p>
</div>
<div class="restaurants-input">
  <h4>Update Restaurant</h4>
  <form action="/restaurants/{{restaurant.mood}}?_method=put" method="post">
      <input type="text" size="50" name="restaurant[name]" placeholder="{{restaurant.name}}"><br>
      <input type="text" size="50" name="restaurant[location]" value="{{restaurant.location}}"><br>
      <input type="text" size="50" name="restaurant[url]" value="{{restaurant.url}}"><br>
      <input type="submit" class="button" value="Edit">
      <form action="/restaurants/{{restaurant.mood}}?_method=delete" method="post">
    <input type="submit" class="button" value="Delete">
  </form>

 
{{else}}
<h2>Bummer! <br> Nothing Here!</h2>
{{/if}}

<div class="restaurants-input">
    <h4>Add Restaurant</h4>
      <form name='restaurants/' action="/restaurants" method="post">
        <input type="text" size="50" name="restaurant[name]" value="Restaurant Name"><br>
        <input type="text" size="50" name="restaurant[location]" value="Location"><br>
        <input type="text" size="50" name="restaurant[address][street]" value="paper street" style="display:none">
        <input type="text" size="50" name="restaurant[address][zipcode]" value="8675309" style="display:none">
        <input type="text" size="50" name="restaurant[url]"><br>
        <input type="submit" class="button"   size="50" name="" value="Add Restaurant">
   {{!-- mood display:none added to keep page static --}}
    <div class="invisible">
        <input type="text" name="restaurant[mood]" value="{{restaurant.mood}}" style="display:none">
    </div>
  </form>
</div>


